* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

body {
  background: #ecf0f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main-form {
  background-color: #ecf0ec;
  width: 500px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  color: #babbbd;
  text-shadow: 1px 1px 2px white;
}
.form-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 16px #cbced1, -10px -10px 16px white;
  padding: 20px;
}
.form-heading h1 {
  color: #babbbd;
  text-shadow: 1px 1px 2px white;
}
.form-heading p {
}

input,
select,
textarea {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 50px;
  border: none;
  background: #ecf0ec;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px white;
}
input::placeholder,
option {
  color: red;
}
input[type="radio"],
input[type="checkbox"] {
  width: 5%;
}
.form-input {
  margin-top: 15px;
}
.form-input label:first-child {
  font-weight: bold;
}

button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  border-radius: 20px;
  background: rgb(221, 141, 201);
  color: white;
  text-shadow: 1px 1px 2px rgb(221, 141, 201);
  border: none;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}
button:hover {
  box-shadow: none;
}
footer {
  background-color: black;
  color: white;
}
